header{
background-color: #ff0000;
width: 1400px;
height: 200px;
}
footer{
background-color: #0000ff;
width: 1400px;
height: 200px;
}
#cel1{
  background-color: #ff4500;
width: 342px;
height: 200px;
}
#cel2{
  background-color: #6633ff;
width: 342px;
height: 200px;
}
#cel3{
  background-color: #006400;
width: 342px;
height: 200px;
}
#cel4{
  background-color: #99ffff;
width: 342px;
height: 200px;
}
#cel5{
  background-color: #00ced1;
width: 342px;
height: 200px;
}
#cel6{
  background-color: #6633cc;
width: 342px;
height: 200px;
}
#cel7{
  background-color: #280295;
width: 342px;
height: 200px;
}
#cel8{
  background-color: #99ffcc;
width: 342px;
height: 200px;
}
#cel9{
  background-color: #00ff00;
width: 342px;
height: 200px;
}
#cel10{
  background-color: #663399;
width: 342px;
height: 200px;
}
#cel11{
  background-color: #ff00ff;
width: 342px;
height: 200px;
}
#cel12{
  background-color: #99ff99;
width: 342px;
height: 200px;
}
#cel13{
  background-color: #dc143c;
width: 342px;
height: 200px;
}
#cel14{
  background-color: #663366;
width: 342px;
height: 200px;
}
#cel15{
  background-color: #fa8072;
width: 342px;
height: 200px;
}
#cel16{
  background-color: #99ff66;
width: 342px;
height: 200px;
}
